# Get you Convex deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=
VITE_CONVEX_URL=

# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
VITE_OPENAI_API_KEY=
VITE_OPENAI_BASE_URL=

# Get your Google OAuth credentials here: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

